.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
sedona/fonts/ptsans.zip
sedona/fonts/web/ptsans.woff
sedona/fonts/web/ptsans.woff2
sedona/fonts/web/ptsansbold.woff
sedona/fonts/web/ptsansbold.woff2
sedona/preview/sedona-hotels-1200.jpg
sedona/preview/sedona-hotels-768.jpg
sedona/preview/sedona-index-1200.jpg
sedona/preview/sedona-index-768.jpg
sedona/preview/styleguide.jpg
sedona/preview/styleguide.jpg
sedona/fonts/ptsans.zip
sedona/fonts/web/ptsans.woff
sedona/fonts/web/ptsans.woff2
sedona/fonts/web/ptsansbold.woff
sedona/fonts/web/ptsansbold.woff2
sedona/preview/sedona-hotels-1200.jpg
sedona/preview/sedona-hotels-768.jpg
sedona/preview/sedona-index-1200.jpg
sedona/preview/sedona-index-768.jpg
