::-webkit-scrollbar {
  display: none;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("../img/main-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

body.hotels-body {
  background-image: url("../img/filter-background.jpg");
}

a {
  font-weight: 700;
  text-decoration: none;
}

::-ms-clear {
   display: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes smooth {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  60% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.4;
  }

  20% {
    opacity: 0.2;
  }

  0% {
    opacity: 0;
  }
}

.site-navigation,
.features-list,
.social-list,
.sorting-type-list,
.sorting-direction-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
}

.brown-button {
  color: #ffffff;
  background-color: #766357;
}

.brown-button:focus,
.brown-button:hover {
  background-color: #604e43;
}

.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.blue-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.blue-button:focus,
.blue-button:hover {
  background-color: #669ec0;
}

.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.modal-hidden {
  display: none;
}

.modal-visible {
  display: block;
  animation: smooth 0.5s;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Header in main page */
.main-header {
  position: relative;
}

.main-header .main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.main-header .main-header-navigation {
  margin-bottom: 77px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
  background-color: #ffffff;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item.active a {
  color: #766357;
}

.site-navigation {
  box-sizing: border-box;
  width: 1200px;
  min-height: 56px;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-navigation li {
  box-sizing: border-box;
  min-height: 56px;
  padding: 15px 0;
  vertical-align: middle;
  width: 243px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2)
{
  padding-right: 21px;
  text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
  padding-left: 21px;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
}

/* Main content on main page*/
.main-container {
  display: flex;
  flex-direction: column;
}
.introduction-container {
  position: relative;
  min-height: 432px;
}

.introduction-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.introduction-container::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 57px;
  background-image: url("../img/background-shape.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.main-container h1 {
  margin: 0;
  box-sizing: border-box;
  display: block;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 60px;
  padding-bottom: 18px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
}

.features {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.features h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: inherit;
}

.features .features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features-list li {
  min-height: 256px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.features-item h3 {
  margin: 0px;
  font-size: 21px;
  font-weight: 400;
  background-color: inherit;
}

.features-item p {
  margin: 0px;
  color: #333333;
  background-color: #ffffff;
}

.features-item.features-item-place-ext {
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item-place-info {
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
}

.features-item h3,
.features-item-place-info h3 {
  margin-top: 47px;
  margin-bottom: 24px;
  width: 160px;
  font-weight: 700;
  background-color: inherit;
}

.features-item p,
.features-item-place-info p {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 320px;
  letter-spacing: 0px;
  color: inherit;
  background-color: inherit;
}

.features-item-place-info p:nth-of-type(2) {
  margin-bottom: auto;
}

.features-item:nth-child(1) {
  flex-direction: row;
  order: 0;
}

.features-item:nth-child(2) {
  flex-direction: row-reverse;
  order: 1;
}

.features-item div.features-item-place-photo {
  width: 800px;
  height: 256px;
  flex-grow: 1;
  background-color: inherit;
  background-image: url("../img/village.jpg");
  background-size: cover;
  background-position: 0 -77px;
}

.features-item div.features-item-place-photo.devils-bridge {
  background-image: url("../img/devils-bridge.jpg");
}

.features-list .features-item.features-item-common {
  width: 400px;
  min-height: 330px;
  order: 0;
  flex-grow: 1;
  background-color: #ffffff;
  background-position: center 60px;
}

.features-item.features-item-common:nth-last-child(3) {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.features-item.features-item-common:nth-last-child(2) {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}

.features-item.features-item-common:last-child {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center 57px;
}

.features-item.features-item-common h3 {
  margin-top: 161px;
  margin-bottom: 25px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.features-item.features-item-common p {
  margin-bottom: auto;
  width: 300px;
}

.features-item-place {
  background-color: #eeeeee;
  flex-grow: 1;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}
.hotel-search h2 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 46px;
  width: 540px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}

.button-call-modal-hotel-search {
  box-sizing: border-box;
  padding: 30px;
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-map {
  height: 593px;
  background-image: url("../img/map.jpg");
}

.main-footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 1200px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(249, 251, 246, 0.9);
}

.main-footer-hashtag {
  box-sizing: border-box;
  width: 400px;
  padding: 20px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.main-footer-social .social-list {
  width: 400px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-list a {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #81b3d2;
}

.social-list a.social-link:focus,
.social-list a.social-link:hover {
  background-color: #669ec0;
}

a.social-link:active img {
  opacity: 0.3;
}

.main-footer-academy-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer-academy-logo {
  margin-left: 10px;
  color: #000000;
}

.main-footer-academy-logo:focus,
.main-footer-academy-logo:hover {
  color: #81b3d2;
}

.main-footer-academy-logo:active {
  color: #c9c8c8;
}

.modal-hotel-search {
  box-sizing: border-box;
  position: absolute;
  top: 2170px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 568px;
  min-height: 396px;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.hotel-search-form p {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
}

.modal-hotel-search label {
  display: inline-block;
  position: relative;
  font-weight: 700;
  width: 100px;
}

.modal-hotel-search input {
  box-sizing: border-box;
  height: 38px;
  border: none;
  margin-left: 6px;
  width: 348px;
  padding-left: 14px;
  background: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-hotel-search input:hover {
  background-color: #ebebeb;
}

.modal-hotel-search input:focus {
  background-color: transparent;
  outline: none;
  border: 1px solid #e5e5e5;
  }

.age-container {
  display: flex;
  justify-content: space-between;
}

.age-container input {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-left: 6px;
  width: 116px;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.age-container input::-webkit-inner-spin-button,
.age-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.age-container .button,
.button.call-calendar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  min-width: 38px;
  height: 38px;
  font-weight: 700;
  color: #a9a9a9;
  background: transparent;
  background-image: none;
}

.button.call-calendar:focus svg,
.button.call-calendar:hover svg {
  fill: #000000;
}

.button.call-calendar:active svg {
  fill: #81b3d2;
}

.age-container .button::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 17px;
  width: 11px;
  height: 3px;

  background-color: black;
}

.age-container .button.decrement-age {
  top: -0px;
  right: 76px;
}

.age-container .button.increment-age::after {
  content: "";
  position: absolute;
  left: 19px;
  top: 13px;
  width: 3px;
  height: 11px;

  background-color: black;
}

.age-container .button:focus::before,
.age-container .button:hover::before,
.age-container .button:focus::after,
.age-container .button:hover::after {
  background-color: #81b3d2;
}

.age-container .children-count-label {
  box-sizing: border-box;
  text-align: right;
  padding-right: 17px;
}

.modal-hotel-search-button-submit {
  box-sizing: border-box;
  margin-top: 23px;
  font: inherit;
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  line-height:  26px;
  background-color: #81b3d2;
}


/* Hotels search */

.hotels-body nav.main-header-navigation {
  margin-bottom: 0;
}

.search-filter-form {
  box-sizing: border-box;
  display:flex;
  padding-left:73px;
  padding-right:73px;
  padding-top: 26px;
  justify-content: flex-start;
  min-height: 217px;
}


.search-filter-form p {
  color: #ffffff;
}

.search-filter-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  width: 255px;
}

.search-filter-form legend {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.search-filter-form ul {
  list-style: none;
}

.search-filter-form .item {
  margin-bottom: 25px;
}

.search-filter-form label {
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
}

.search-filter-form input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -41px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.search-filter-form input[type=checkbox][disabled] + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.search-filter-form input[type=checkbox]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.search-filter-form input[type=checkbox][disabled]:checked + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.search-filter-form .search-filter-container-buy {
  margin-left: auto;
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-filter-container-buy fieldset,
.search-filter-container-buy legend {
  width: 100%;
}


.search-filter-price .search-filter-price-controls {
  height: 30px;
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border: 2px solid #ffffff;
  border-radius: 2px;
}


.search-filter-price-controls label {
  width: 94px;
  margin-left: 64px;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.search-filter-price-controls::after {
  content: "";
  display: block;

  width: 2px;
  height: 22px;
  background-color: #ffffff;
  order: 0;
}

.search-filter-price-controls label:last-child {
  order: 3;
  margin-left: 50px;
}


.search-filter-price-controls input {
  width: 50px;
  height: 32px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.search-filter-range-controls {
  position: relative;

  margin-bottom: 32px;
}

.search-filter-range-controls .search-filter-price-scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.search-filter-range-controls .search-filter-price-bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.search-filter-price-range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.search-filter-price-range-toggle:hover {
  background: #ad8f8a;
}

.button-search-submit {
  width: 135px;
  height: 36px;
  position: relative;
  right: 5px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
}

.button-search-submit:focus,
.button-search-submit:hover {
  color: #000000;
  background-color: #ffffff;
}

.button-search-submit:active {
  color: #ffffff;
  background-color: transparent;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 1200px;
  min-height: 541px;
  background-color: #ffffff;
}

.sorting-filter-container {
  box-sizing: border-box;
  height: 86px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sorting-filter-container>p {
  box-sizing: border-box;
  margin: 0;
  margin-left: 73px;
  width: 163px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 87px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-filter-container nav {
  display: flex;
  width: 891px;
  align-items: baseline;
}

.sorting-filter-container h3 {
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.sorting-filter-container .sorting-type-list {
  display: flex;
}

.sorting-filter-container li.sorting-type-item {
  margin-right: 33px;
}

.sorting-filter-container .sorting-direction-list {
  width: 34px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.sorting-direction-item.active svg {
  fill: #81b3d2;
}

.sorting-direction-item-link:focus svg,
.sorting-direction-item-link:hover svg {
  fill: #000000;
}

.sorting-direction-item:active svg {
  fill: #81b3d2;
}

.sorting-type-list a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type-item.active a {
  color:#81b3d2;
  border: none;
}

.sorting-type-list a:focus,
.sorting-type-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type-list a:active {
  color: #000000;
  border: none;
}

.search-results .list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
}

.search-results .item {
  width: 1200px;
  padding: 29px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.search-results img.item-photo {
  order: -1;
  margin-right: 30px;
}

.item p {
  margin: 0;
  padding: 0;
}

.item h3 {
  margin: 0;
  padding: 0;
  position: relative;
  top: -5px;
  width: 258px;
}

.search-results .search-results-type-price-container {
  display: flex;
  justify-content: space-between;
}

.search-results-type-price-container .item-hoteltype {
  width: 110px;
}
.search-results-type-price-container .item-price {
  margin-left: 6px;
  width: 142px;
}

.search-results .search-results-rating-container {
  min-height: 91px;
  margin-left: 525px;
  width: 105px;
  height: 91px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  order: 10;
}

.search-results-rating-container p.item-stars {
  height: 27px;
}

.search-results-rating-container img {
  margin-left: 1px;
}

.search-results-rating-container p.item-rate {
  box-sizing: border-box;
  padding: 4px;
  padding-left: 16px;
  padding-right: 11px;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
}

.search-results-buttons-container {
  width: 258px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.search-results-buttons-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 27px;
  width: 110px;
}

.search-results-buttons-container a.brown-button.item-button-book-it {
  width: 142px;
}

.search-results .hotel-info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.search-results .hotel-info:focus,
.search-results .hotel-info:hover {
  color: #81b3d2;
}

.search-results .hotel-info:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer.hotels-footer {
  position: static;
}

